
#icono{
    height: 10rem;
    width: 10rem;
}

/* Carts y Textos */

body{
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23eceff0' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23d8dde0' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23c1cace' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23a7b5bb' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23889da5' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%2361818d' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23075C6F' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed !important;
background-size: cover !important;
}

body.dark{
background-color: #06141B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.14'%3E%3Cpolygon fill='%2316394a' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%232c5c74' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23477d98' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%237199ae' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23a0b4bd' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cad0d3' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover !important;

}


.dark-logo{
    content: url("../img/LOGOPNGoscuro3.png");
}

.fondos{
    background-color: #EEF4F5;
    border-radius: 16px;
    width: 100%;
    display: flex;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.tuMundo{
    font-weight: 500;
}
.img-tarjeta {
    height: 280px;
    width: 100%;
    object-fit: contain;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}
p{
    color: black;
}
.card {
    background: linear-gradient(180deg, #FFFFFF 10%, #075c6f17 90%);
    border-radius: 12px;
    overflow: hidden;
    transition: background 0.3s ease, color 0.3s ease;
}

a{
    color: inherit ;
}
.verUsados{
    color: white;
    text-decoration: none;
}


body.dark h3,
body.dark p,body.dark .nav-link,
body.dark .card-text, body.dark #navoscuro,body.dark h4{
color: #FFFFFF !important;
}
body.dark span.text-body-secondary,
body.dark small.text-body-secondary,
body.dark #sobretext{
    color: #9ECCED !important;
}
body.dark .card{
    background: linear-gradient(180deg, #092537 10%, #075c6f44 90%);
    border: 1px solid #0E3D59;
}
body.dark .img-tarjeta,  body.dark .navbar{
    background-color: #0D2230 !important;
}

body.dark a{
    color: #9ECCED !important;
}

body.dark h1,body.dark .lead,body.dark .tex-footer,
body.dark .githubF, body.dark .text-secondary,
body.dark #icono,
body.dark .nombreProducto,body.dark .Valor,body.dark #panelSub,
body.dark .github-link, body.dark .footerT, body.dark .cateogriasinfo, body.darck #Marca, body.dark .statusMsg
{
    color: black !important;
}

body.dark .tuMundo,body.dark h2,body.dark h3,body.dark h5, body.dark #Enviar{
    color: #075c6f !important;
}
/* navbar */
body.dark .navbar {
    background-color: white;
    box-shadow: 0 4px 2px #23b6b667;
}
body.dark #icono, body.dark .iconos, .body.dark .fondoNavbar{
color: white !important;
}
body.dark .mundo-laptop-footer{
    background: linear-gradient(180deg, #EEF4F5 40%, #075c6f44 180%);
}
body.dark .navbar-toggler{
    background-color: white;
}