:root {

    --var-background-pagina: #ffff;
    --var-background-banner: #FDFFFF;
    --var-button-color-1: #075C6F;
    --var-font-color-1: #11212D;
    --var-font-color-2: #075C6F;
    --var-font-color-3: #ffff;


}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    width: 70%;
    margin: auto;
}


/*banner-inicio*/

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 120px auto;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
    background-color: var(--var-background-banner);

}

.contenido-banner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
}

.contenido-banner span {
    color: var(--var-font-color-2)
}

.contenido-banner h1 {
    font-size: 3rem;
}


.button-banner {
    background-color: var(--var-button-color-1);
    color: var(--var-font-color-3);
    margin: 15px 0px;
    width: fit-content;
    padding: 0.7rem 3.5rem;
    border-radius: 8px;
    cursor: pointer;

}

.button-banner:hover {
    filter: brightness(0.80);
}

.imagen-banner {
    margin-right: 100px;
}


/*final Banner*/

/*Productos Destacados*/

.productos-destacados {
    display: flex;
    flex-direction: column;
}

.productos-destacados-1 {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;


}

.productos-destacados-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.productos-destacados-1 a {
    text-decoration: none;
    color: var(--var-font-color-2);
}

.productos-destacados-1 a:hover {
    filter: brightness(0.70);
}



/*Card*/

.productos-destacados-card {

    display: flex;
    width: fit-content;
    margin: 20px 0px;
    padding: 100px 10px 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
    background-color: var(--var-background-banner);

}

.img-card img {
    width: 250px;
    height: 180px;
}

.productos-destacados-card button {
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: var(--var-button-color-1);
    color: var(--var-font-color-3);
    border-style: none;
    cursor: pointer;


}

.productos-destacados-card button:hover {
    filter: brightness(0.75);
}


/*Section de imagenes*/


.section-mas-informacion {
    display: flex;
    flex-direction: column;
}

.section-2-1 {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to top, #075C6F 0%, rgba(255, 255, 255, 0.3) 50%);
    border-radius: 12px;
    margin:30px 0px;

}
.section-2-1-contenido{
    display: flex;
    flex-direction: column;
    gap:15px
}

.section-2-1-contenido h1{
    font-size: 3rem;
}
.section-2-1-contenido span{
    color: var(--var-font-color-2);
}

.section-2-2-imagen img{

    width: 400px;
    height: 260px;
}