
body{
    width: 70%;
    margin: auto;
}

.logoimg {
    width: 25vh;
    height: 7vh;
}

#navbarNavDropdown {
    justify-content: center;
    color: #11212D;
}

.navbar .nav-link{
    color: #11212D;
    margin: 15px;
    font-weight: 600;
}

.navbar .nav-link:hover{
    color: #025656;
    padding: 4px 4px;
    border-top: 2px solid #025656;
    border-bottom: 2px solid #025656;
}

.iconos-navbar {
    display: flex;
}

.iconos-navbar .iconos{
    height: 40px;
    margin: 1vh;
}